<div class="container-fluid" ng-controller="SearchController">
  <div class="row">
    <div class="col-sm-12">
      <h1 ng-if="!ser.isAdmin()">You are connected to:</h1>
      <ul>
        <li ng-repeat="connection in ser.connectionArray"><h3>{{connection.name}}</h3></li>
      </ul>
      <form name="searchForm"class="thing-form">
        <h1>Search for your buddies today</h1>
        <p class="input-group">
          <input type="text"  ng-model="ser.newThing" class="form-control" placeholder="Enter your buddy's name">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="ser.searchUsers()"><i class="fa fa-search"></i></button>
      </span>
        </p>
      </form>
    </div>

    </div>
    <div class="row">
      <section class="col-xs-12 col-sm-12 col-md-12">
        <article ng-repeat="user in ser.users" class="search-result row">
          <div ng-if="ser.currentUser._id != user._id" class="col-xs-12 col-sm-12 col-md-7 excerpet">
            <h3>{{user.name}}</h3>
            <p>email : {{user.email}}</p>
            <ul ng-if="ser.isAdmin()">
              <h4>Connections:</h4>
              <li ng-repeat="connects in user.connections">
                <button type="submit" class="btn btn-success">{{ser.allUsers[connects]}}</button>
              </li>
            </ul>
            <span class="clearfix borda"></span>
            <div ng-if="!ser.isConnected(user._id, ser.currentUser.connections) && !ser.isAdmin()" class="col-xs-12 col-sm-12 col-md-12">
              <button type="submit" class="btn btn-primary" ng-click="ser.connect(user._id) && !ser.isAdmin()">Connect <i class="fa fa-link"></i></button>
            </div>
            <div ng-if="ser.isConnected(user._id, ser.currentUser.connections) && !ser.isAdmin()" class="col-xs-12 col-sm-12 col-md-12">
              <button type="submit" class="btn btn-success">Connected</button>
            </div>
          </div>

        </article>

      </section>
    </div>

  </div>
