<div class="container-fluid" ng-controller="SearchController">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 ng-if="!ser.isAdmin()">You are connected to:</h3>
      <ul class="list-inline">
        <li ng-repeat="connection in ser.connectionArray"><h3 class="info"><i class="fa fa-star connected"> </i>{{connection.name}}</h3></li>
      </ul>
      <form name="searchForm"class="thing-form">
        <h3>Search for your buddies today</h3>
        <p class="input-group">
          <input type="text"  ng-model="ser.newThing" class="form-control" placeholder="Enter your buddy's name">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="ser.searchUsers()"><i class="fa fa-search"></i></button>
      </span>
        </p>
      </form>
    </div>

    </div>
    <div class="row">
      <section class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-12">
        <article ng-repeat="user in ser.users" class="search-result row">
          <div ng-if="ser.currentUser._id != user._id" class="col-xs-12 col-sm-12 col-md-7 excerpet">
            <h3>{{user.name}}</h3>
            <h4>Email : <span class="info">{{user.email}}</span></h4>
            <ul class="list-inline" ng-if="ser.isAdmin()">
              <li>   <h4>Connections:</h4></li>
              <li ng-repeat="connects in user.connections">
                <h4 class="info"><i class="fa fa-star connected"> </i> {{ser.allUsers[connects]}}</h4>
              </li>
            </ul>
            <span class="clearfix borda"></span>
            <div ng-if="!ser.isConnected(user._id, ser.currentUser.connections) && !ser.isAdmin()" class="col-xs-12 col-sm-12 col-md-12">
              <button type="submit" class="btn btn-primary" ng-click="ser.connect(user._id) && !ser.isAdmin()">Connect <i class="fa fa-link"></i></button>
            </div>
            <div ng-if="ser.isConnected(user._id, ser.currentUser.connections) && !ser.isAdmin()" class="col-xs-12 col-sm-12 col-md-12">
              <button type="submit" class="btn btn-success">Connected</button>
            </div>
          </div>

        </article>

      </section>
    </div>

  </div>
